@import '~normalize.css';

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #334455;
}

.console {
    font-size: 12pt;
}

.console .history {
    font-family: 'Source Code Pro', monospace;
    white-space: pre;
    width: 100%;
}

.console .history .row {  }
.console .history .row.error {
    color: #ff0000;
}

.console .prompt .input {
    font-family: 'Source Code Pro', monospace;
    background: none;
    color: #ffffff;
    outline: none;
    border: none;
    flex: 1;
}
